<h1 class = "text-center">Restaurants</h1>
<% @restaurants.each do |restaurant| %>
  <div class="card mb-3 shadow">
    <div class="card-body">
      <div class="card-title">
        <h4 class = "mb-0"><%= restaurant.name %></h4>
      </div>
      <div class="card-sub-title text-muted">
        <h6><%= restaurant.category %></h6>
      </div>
      <div class="card-text">
        <%= restaurant.address %>
      </div>
      <div class="card-link text-end">
        <%= link_to "more info", restaurant_path(restaurant) %>
      </div>
    </div>
  </div>
<% end %>
