<div class="p-3 bg-dark text-light">
  <h5 class = "text-center border-bottom">Add a review</h5>
  <div class="d-flex w-80 flex-column align-items-center">
    <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating, collection: 0..5 %>
    <%= f.input :content, class: "form-control" %>
    <div class="text-center">
      <%= f.submit class: "btn btn-secondary" %>
    </div>
    <% end %>
  </div>
</div>
